#compromisos i{
  color: #e80e0e;
}
#compromisos{
  margin-top:20px;
  margin-bottom: 60px;
}
.filter.filter-color-tepsa:before {
  /*background: #c6cacd*/
  background: hsl(0, 0%, 23%);
}


.separator-tepsa {
  color: #e80e0e;
}
.separator-tepsa:before, .separator-tepsa:after {
  border-color: #e80e0e;
}

.text-tepsa {
  color: #e80e0e !important;
}
